*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f4f7fb;
}

.auth-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.auth-card{
width:430px;
background:white;
padding:40px;
border-radius:18px;
box-shadow:0 10px 35px rgba(0,0,0,.1);
}

.auth-header{
text-align:center;
margin-bottom:25px;
}

.auth-header h1{
font-size:42px;
}

.auth-header h2{
margin-top:10px;
color:#1e293b;
}

.auth-header p{
margin-top:8px;
color:#64748b;
}

.input-group{
margin-bottom:18px;
}

.input-group label{
display:block;
margin-bottom:8px;
font-weight:600;
}

.input-group input,
.input-group select{
width:100%;
padding:13px;
border:1px solid #d1d5db;
border-radius:10px;
outline:none;
font-size:15px;
}

.input-group input:focus,
.input-group select:focus{
border-color:#2563eb;
}

.auth-btn{
width:100%;
padding:15px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-size:17px;
font-weight:bold;
transition:.3s;
}

.auth-btn:hover{
background:#1d4ed8;
}

.auth-footer{
margin-top:20px;
text-align:center;
}

.auth-footer a{
color:#2563eb;
text-decoration:none;
font-weight:bold;
}

.message{
padding:12px;
margin-bottom:20px;
border-radius:8px;
text-align:center;
font-weight:bold;
}

.error{
background:#FEE2E2;
color:#DC2626;
}

.success{
background:#DCFCE7;
color:#15803D;
}